__pycache__/eval_knn.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
__pycache__/vision_transformer.cpython-38.pyc
cvd_data/
Results/tiny_cvd
Results/small_cvd_s
Results/small_cvd_g
Results/small_cvd
Results
Features/small_cvd_s/test_features.npy
Features/small_cvd_s/train_features.npy
Results/sm_cvd_1/checkpoint.pth
Results/sm_cvd_1/checkpoint0000.pth
Results/sm_cvd_1/log.txt
Features
